.country__name {
  font-size: 30px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.card-body {
  margin-right: 40px;
}
.card-data {
  font-size: 28px;
  font-weight: 700;
}
.api-data {
  font-size: 26px;
  font-weight: 500;
}
